[client]

port                = 3307
socket              = /var/run/mysqld/mysqld.sock


[mysql]


# CLIENT #
port                           = 3307
socket                         = /var/run/mysqld/mysqld.sock
no-auto-rehash


[mysqld_safe]
socket                         = /var/run/mysqld/mysqld.sock                                                                                                                                                                                        nice                           = 0


[mysqld]
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci

# GENERAL #
user                           = mysql
default_storage_engine         = InnoDB
socket                         = /var/run/mysqld/mysqld.sock
pid_file                       = /var/run/mysqld/mysqld.pid
bind-address                   = 0.0.0.0
port                           = 3307
basedir                        = /usr
tmpdir          = /www/tmp

# MyISAM #
key_buffer_size                = 1G
myisam_recover                 = FORCE,BACKUP
skip-external-locking

# SAFETY #
max_allowed_packet             = 256M
max_connect_errors             = 1000000
skip_name_resolve

# DATA STORAGE #
datadir                        = /www/mysql

# BINARY LOGGING #
log_bin                        = mysql-bin
expire_logs_days               = 7
server-id=53
binlog_format                  = row
max_binlog_size                = 1000M
sync_binlog                    = 0


# REPLICATION #
relay_log_recovery = 1
log_slave_updates              = 1
relay_log                      = mysql-relay-bin
#slave_net_timeout              = 60
#sync_master_info               = 1
#sync_relay_log                 = 1
#sync_relay_log_info            = 1
#read_only                      = 1
#skip_slave_start               = 1

# CACHES AND LIMITS #
tmp_table_size                 = 32M
max_heap_table_size            = 32M
max_connections                = 3000
thread_cache_size              = 100
open_files_limit               = 655350
table_definition_cache         = 100000
table_open_cache               = 100000
sort_buffer_size               = 32M
read_buffer_size               = 8M
join_buffer_size               = 4M


# INNODB #
innodb_data_file_path          = ibdata1:10M:autoextend
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 128M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table          = 1
innodb_buffer_pool_size        = 6G
innodb_support_xa              = 0
innodb_purge_threads           = 4
innodb_io_capacity             = 200
innodb_locks_unsafe_for_binlog = 1
innodb_autoinc_lock_mode       = 2
innodb_flush_neighbors = 1


# galera
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_node_address=192.168.1.53
wsrep_cluster_name="115dev"
wsrep_cluster_address="gcomm://"
#wsrep_cluster_address="gcomm://192.168.1.53,192.168.1.62,192.168.1.60"
#wsrep_on=on
wsrep_node_name=192.168.1.53
wsrep_slave_threads=4
wsrep_certify_nonPK=1
wsrep_max_ws_rows=131072
wsrep_max_ws_size=1073741824
wsrep_debug=0
wsrep_convert_LOCK_to_trx=0
wsrep_retry_autocommit=3
wsrep_auto_increment_control=0
wsrep_replicate_myisam=1
wsrep_drupal_282555_workaround=0
#wsrep_causal_reads=0
wsrep_sync_wait=0
wsrep_sst_method=xtrabackup-v2
#wsrep_sst_method=rsync
wsrep_sst_auth=root:ylmf
slave_skip_errors=1062,1032

auto_increment_increment = 2
auto_increment_offset = 1

innodb_file_format = barracuda
innodb_file_format_max = barracuda
log_bin_trust_function_creators = 1

binlog_annotate_row_events = on
#skip-slave-start


# LOGGING #
log_error                      = /var/log/mysql/error.log
#log_queries_not_using_indexes  = 1
slow_query_log                 = 1
slow_query_log_file            = /var/log/mysql/mysql-slow.log
long_query_time                = 1
log_slow_verbosity             = query_plan
log_warnings = 2


[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[isamchk]
key_buffer              = 16M




!includedir /etc/mysql/conf.d/
